body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #aa0982, #32c5b9);
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #d1d5db;
  margin-bottom: 15px;
}

.form-box label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  resize: none;
  font-size: 14px;
}

button {
  background-color: #0c9e07;
  color: #000;
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}

button:hover {
  background-color: #06963b;
}

.result-box {
  margin-top: 20px;
  background: rgba(14, 90, 153, 0.15);
  padding: 15px;
  border-radius: 8px;
  display: none;
}

.result-box h2 {
  margin-top: 0;
  text-align: center;
  color: #fff;
}

strong {
  color: #facc15;
}
